<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="DASHBOARD" src="dashboard.png" size="50%">
            </a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DASHBOARD</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="about"><a href="/about.json">ABOUT</a></li>
                    <li id="contact"><a href="/contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>